@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed';
}
.navbar{
    position: relative;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgb(10, 10, 10);
    height: 75px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
.navcc img {
    height: 47px;
    width: 60px;
    margin: 12px;
    border: 2px solid black;
    border-radius: 50px;
}
.navcc{
    display: flex;
    align-items: center;
}
.nav-ul{
    display: flex;
}
.right-nav{
    position: absolute;
    top: 23px;
    right: 12px;
}
.right-nav input{
    width: 157px;
    height: 21px;
    border: 2px solid;
    border-radius: 12px;
    opacity: 0.78;
}
.nav-ul li{
    list-style: none;
    margin: 12px;
}
.nav-ul li a{
    text-decoration: none;
    cursor: pointer;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 300;
}
.nav-ul li a:hover{
    height: 60px;
    width: 26%;
    margin: 32px 0;
    background: linear-gradient(to right,#ffff00 0%,rgb(214, 10, 78) 100%);
    border: none;
    border-radius: 50px;
    transition:  ease-in-out;
} 

/* home2 */
#home{
    position: relative;
}
#home::before{
    content: "";
    position: absolute;
    background: url("holiday.jpg") no-repeat center center/cover;
    width: 100%;
    height: 412px;
    z-index: -1;
    opacity: 0.78;
}
#home{
    display: flex;
    justify-content: center;
    height: 376px;
}
.headin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 125px 60px;
}
.slogan{
    margin: 23px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(250, 240, 240);
    font-size: 30px;
}
.slogan h1{
    text-align: center;
    font-family: 'Great Vibes';
}
.btn1{
    margin: 34px 0;
    color: white;
    height: 46px;
    width: 90px;
    background-color: rgb(221 164 25);
    border: 2px solid rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}
.btn1 a{
    text-decoration: none;
    color: white;
}
#circle {
    font-family: 'Great Vibes';
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    justify-content: center;
    width: 120px;
    height: 120px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 60px;
    top: 17px;
    left: 39px;
    box-shadow: inset 4px 4px 36px rgba(32, 30, 30, 0.568);
}

/* brands */
.brands::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 555px;
    z-index: -1;
    opacity: 0.76;
}
.brands{
    height: 350px;
}
.brands h1{
    color: white;
    margin: 35px 0;
    padding: 10px 5px;
    border: 2px soild rgba(73, 73, 73, 0.548);
    background-color: rgb(255, 68, 68);
    box-shadow: inset 4px 4px 36px rgba(32, 30, 30, 0.568);
}
.logo{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 12px;
}
.logo img{
    height: 200px;
    width: 233px;
}

/* aboutus */
.aboutus::before{
    content: "";
    position: absolute;
    background: linear-gradient(-30deg,#03a9f4 50%,#2f5b88 100%);
    width: 100%;
    height: 382px;
    z-index: -1;
    opacity: 0.76;
}
.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.aboutusin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px;
}
/* shopping */
#container::before{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 23, 23);
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1128px;
    margin: 40px 0;
} 
.box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
} 

.card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(225,225,225,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(225,225,225,0.1);
    border-radius:15px;
    margin: 30px;
}
.box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background:#2a2b2f ;
    border: 2px soild #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.content{
    padding: 20px;
    text-align: center;
    color: white;
}
.content img{
    height: 440px;
    width: 320px;
}
h1{
    color: white;
}
.card h1{
    font-family: 'Great Vibes';
    position: relative;
    top: -41px;
    left: 108px;
    color: white;
}

.heading-primary1{
    color: #2a2b2f;
}
.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(7, 12, 20);
    border: 2px solid rgba(12, 7, 7, 0.733);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}
/* links */
.center{
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 101px 0;
}
.anchor{
    height: 50px;
    width: 50px;
    background-color: #f5f6fa;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    line-height: 50px;
    box-shadow:1px 4px 2px 2px #dcdde1 ;
}
.sticker{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
a i{
    font-size: 22px;

}
.fa-instagram{
    color: #e84393;
}
.fa-facebook{
    color: #00679e;
}
.fa-youtube{
    color: #e84118;
}
.fa-whatsapp{
    color: #08fb08;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.fa-id-card-alt{
    color: red;
}
.block{
    display: inline-block;
    position: sticky;
    bottom: 100px;
}